<div class="container">
  <div class="right">
    <!-- <img class="logo" src="../../assets/images/logo.png" alt="Logo" /> -->
     <!-- assets/images/logo.png" alt="Logo" /> -->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/addart" routerLinkActive="active">Add Art</a>
          <a routerLink="/listart" routerLinkActive="active">List Art</a>
            <a routerLink="/addmedium" routerLinkActive="active">add Medium</a>
            <a routerLink="/counter" routerLinkActive="active">Counter</a>
                   <a routerLink="/posts" routerLinkActive="active">Posts</a>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
    </div>
  <!-- </div>
  <div class="right" *ngIf="!user">
    <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
    <a href="" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="user">
    <div>
      <img src="/assets/images/profile.png" (click)="toggleSignOutMenu()" alt="profile" />
      <div class="sign-out" *ngIf="showSignOutMenu">
        <button (click)="signOut()">Sign Out</button>
      </div> 
    </div>-->
  </div>
</div>