<div class="content">
  <h1 class="header">
    Add Artwork details
  </h1>
  <form [formGroup]="addArtFormgrp" (ngSubmit)="saveArtWork($event)">
    <section>
      <nav>Art Info</nav>
      <div>
        <input formControlName="title"  placeholder="Art Title" />
        @if( title?.errors?.['required'] && title?.invalid && sold?.touched){<em> Please enter title</em>}

        <input   formControlName="artDatails"  placeholder="Art Details" />  
            @if( artDatails?.touched && artDatails?.invalid ){<em> Detail must be less than 500 char</em>}
        @if( artDatails?.errors?.['required'] && artDatails?.invalid && sold?.touched ){<em> Please enter Details</em>}
        <select style="width: 500px;" formControlName="mediumId" >
          <option value="" disabled selected >Select Medium</option>
          <option *ngFor="let medium of mediums" [value]="medium.id">{{medium.mediumType}}</option>
        </select>
         <label for="createdDate" class="form-label">Created Date</label>
        <input formControlName="createdDate" type="date" placeholder="Created Date" />

      </div>
    </section>
    <section>
      <nav>Image</nav>
      <div>
               <input formGroupName="imageFile" type="file" (change)="onChange($event)" >
      </div>
    </section>
        <section>
      <nav>Purchase Details</nav>
      <div>
                 <label for="sold" class="form-label">Art Available for Purchase?</label>
          <div class="radio">
          <input type="radio" formControlName="sold" value="true"> Sold
          <input type="radio" formControlName="sold" value="false"> Available for Purchase
            @if( sold?.errors?.['required'] && sold?.invalid && sold?.touched){<em> Please Select a value</em>}
          </div>
        <!-- <input formGroupName="sold" placeholder="Sold" /> -->
         <input 
              formControlName="soldDate"  type="date" placeholder="Sold Date" />
           <input  formControlName="price" placeholder="Price" />
            @if( sold?.errors?.['required'] && sold?.invalid && sold?.touched){<em> Please Select a value</em>}
      </div>
    </section>
    <!-- <section>
      <nav>Phone</nav>
      <div class="flex-column">
        <div class="flex-group">
          <input placeholder="Phone" />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <input type="radio" value="mobile"> Mobile
          <input type="radio" value="work"> Work
          <input type="radio" value="other"> Other
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address">
          <div class="flex-group">
            <input placeholder="Address" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" />
          <input placeholder="State/Region" />
          <input placeholder="Zip/Postal Code" />
          <select>
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="mobile">Other</option>
          </select>
        </div>
      </div>
    </section> -->
      <div class="buttons">
    <button type="reset" class="secondary">Cancel</button>
    <button type="submit" class="primary"  >Save</button>
  </div>
  </form>

</div>